.btn-outline-secondary {
  border-color: transparent;
}

.calendar {
  border: 1px solid #87878771;
  border-radius: 7px;
}

.calendar input {
  border: none;
}

@media screen and (max-width: 576px) {
  .modal-body {
    width: 100% !important;
  }
}
