<div class="full-page-container">
  <div class="card-container">
    <div class="logo-wrapper">
      <img src="assets/logo.svg" alt="logo" />
    </div>
    <div class="title-text text-muted">Password Reset</div>
    <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="password" class="form-label">New Password</label>
        <div class="password-wrapper">
          <input
            id="password"
            type="{{ passwordType }}"
            class="form-control"
            formControlName="password"
            placeholder="Enter your new password"
            (input)="checkPasswordStrength()"
          />
          <span class="show-password-icon" (click)="togglePasswordVisibility()">
            <i [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
          </span>
        </div>
        <div
          class="alert"
          [ngClass]="passwordStrength.class"
          *ngIf="passwordResetForm.get('password')?.value"
        >
          <div class="alert-title">
            <p *ngIf="passwordStrength.class === 'very-weak'">Very Weak</p>
            <p *ngIf="passwordStrength.class === 'weak'">Weak</p>
            <p *ngIf="passwordStrength.class === 'medium'">Medium</p>
            <p *ngIf="passwordStrength.class === 'strong'">Strong</p>
          </div>
          <div class="alert-message">
            Password must be at least
            <span [ngClass]="{ 'text-success': passwordStrength.lengthValid }"
              >8 characters</span
            >
            and contain
            <span [ngClass]="{ 'text-success': passwordStrength.hasNumber }"
              >1 number</span
            >,
            <span [ngClass]="{ 'text-success': passwordStrength.hasUpperCase }"
              >1 uppercase letter</span
            >,
            <span [ngClass]="{ 'text-success': passwordStrength.hasLowerCase }"
              >1 lowercase letter</span
            >, and
            <span [ngClass]="{ 'text-success': passwordStrength.hasSymbol }"
              >1 symbol</span
            >.
          </div>
        </div>
        <div
          class="text-danger"
          *ngIf="
            passwordResetForm.get('password')?.hasError('required') &&
            passwordResetForm.get('password')?.touched
          "
        >
          Password is required
        </div>
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input
          id="confirmPassword"
          type="{{ passwordType }}"
          class="form-control"
          formControlName="confirmPassword"
          placeholder="Confirm your new password"
        />
        <div class="text-danger" *ngIf="confirmPasswordInvalid">
          Passwords do not match.
        </div>
        <div
          class="text-danger"
          *ngIf="
            passwordResetForm.get('confirmPassword')?.hasError('required') &&
            passwordResetForm.get('confirmPassword')?.touched
          "
        >
          Confirm Password is required
        </div>
      </div>
      <button
        type="submit"
        class="custom-btn"
        [disabled]="passwordResetForm.invalid"
      >
        Reset Password
      </button>
    </form>
  </div>
</div>
