<div class="full-page-container">
  <div class="card-container">
    <div class="logo-wrapper">
      <img src="assets/logo.svg" alt="logo" />
    </div>
    <div class="title-text text-muted">Register</div>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <div class="mb-3">
        <label for="fullName" class="form-label">Full Name</label>
        <input
          id="fullName"
          type="text"
          class="form-control"
          formControlName="fullName"
          required
          placeholder="Enter your full name"
        />
        <div
          *ngIf="
            registerForm.get('fullName')?.invalid &&
            registerForm.get('fullName')?.touched
          "
          class="text-danger"
        >
          Full Name is required
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          id="email"
          type="email"
          class="form-control"
          formControlName="email"
          required
          placeholder="Enter your email"
        />
        <div
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
          class="text-danger"
        >
          Valid email is required
        </div>
        <div *ngIf="emailTaken" class="text-danger">
          Email address already exists. Please,
          <a routerLink="/login" class="confirm-login-btn">Login instead</a>
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="password-wrapper">
          <input
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            formControlName="password"
            required
            placeholder="Create a password"
            (input)="checkPasswordStrength()"
          />
          <span class="show-password-icon" (click)="togglePasswordVisibility()">
            <i [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
          </span>
        </div>
        <div
          class="alert"
          [ngClass]="passwordStrength.class"
          *ngIf="registerForm.get('password')?.value"
        >
          <div class="alert-title">
            <p *ngIf="passwordStrength.class === 'very-weak'">Very Weak</p>
            <p *ngIf="passwordStrength.class === 'weak'">Weak</p>
            <p *ngIf="passwordStrength.class === 'medium'">Medium</p>
            <p *ngIf="passwordStrength.class === 'strong'">Strong</p>
          </div>
          <div class="alert-message">
            Password must be at least
            <span [ngClass]="{ 'text-success': passwordStrength.lengthValid }"
              >8 characters</span
            >
            and contain
            <span [ngClass]="{ 'text-success': passwordStrength.hasNumber }"
              >1 number</span
            >,
            <span [ngClass]="{ 'text-success': passwordStrength.hasUpperCase }"
              >1 uppercase letter</span
            >,
            <span [ngClass]="{ 'text-success': passwordStrength.hasLowerCase }"
              >1 lowercase letter</span
            >, and
            <span [ngClass]="{ 'text-success': passwordStrength.hasSymbol }"
              >1 symbol</span
            >.
          </div>
        </div>
        <div
          *ngIf="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
          "
          class="text-danger"
        >
          Password is required
        </div>
      </div>
      <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <div class="password-wrapper">
          <input
            id="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'"
            class="form-control"
            formControlName="confirmPassword"
            required
            placeholder="Confirm your password"
          />
          <span
            class="show-password-icon"
            (click)="toggleConfirmPasswordVisibility()"
          >
            <i
              [ngClass]="showConfirmPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"
            ></i>
          </span>
        </div>
        <div
          *ngIf="
            registerForm.get('confirmPassword')?.hasError('passwordMismatch') &&
            registerForm.get('confirmPassword')?.touched
          "
          class="text-danger"
        >
          Passwords do not match.
        </div>
      </div>
      <div class="pb-3 recaptcha-container">
        <re-captcha
          #captchaElem
          (resolved)="resolvedCaptcha($event)"
          siteKey="{{ captchaSiteKey }}"
        ></re-captcha>
      </div>
      <button
        type="submit"
        class="custom-btn"
        [disabled]="!registerForm.valid || !captchaResolved"
      >
        <span
          [hidden]="!registerAttempt"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Register
      </button>
      <div class="w-100 text-center pt-4">
        <a routerLink="/login" class="confirm-login-btn">Login</a>
      </div>
    </form>
    <div *ngIf="emailConfirmation" class="email-confirmation">
      <div class="text-center">
        <img src="assets/email.png" width="150px" alt="email confirmation" />
        <h1>Email Confirmation</h1>
        <p class="confirm-text">
          We have sent an email to
          <span *ngIf="registerForm.value.email" class="user-email">{{
            registerForm.value.email
          }}</span>
          to confirm the validity of your email address. After receiving the
          email, follow the link provided to complete your registration.
        </p>
        <p class="confirm-text">
          Confirmed?
          <a routerLink="/login" class="confirm-login-btn">Login now!</a>
        </p>
        <div class="separator"></div>
        <p class="confirm-text">
          Didn't receive any mail?
          <button class="resend-btn" (click)="resendConfirmationEmail()">
            Resend Confirmation
          </button>
        </p>
        <p *ngIf="emailResent" class="email-resent-text">
          Email has been resent successfully!
        </p>
      </div>
    </div>
  </div>
</div>
