<div class="container-fluid">
  <div class="row justify-content-center h-100 flex-column align-items-center">
    <div
      class="col-xxl-2 col-xl-3 col-lg-4 col-md-5 col-sm-6 col-8 text-center p-4"
    >
      <img src="assets/logo.svg" alt="logo" width="100%" />
    </div>
    <div
      class="col-xxl-4 col-xl-5 col-lg-6 col-md-8 col-sm-8 col-11 row justify-content-center"
      *ngIf="register"
    >
      <div class="card py-5 px-3 col-md-10">
        <div class="text-center">
          <h4 class="card-title">Register</h4>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
            <div class="mb-3 py-2">
              <label for="fullName" class="form-label">Full Name</label>
              <input
                id="fullName"
                type="text"
                class="form-control"
                formControlName="fullName"
                required
                placeholder="Full Name"
              />
              <div
                *ngIf="
                  registerForm.get('fullName')?.invalid &&
                  registerForm.get('fullName')?.touched
                "
                class="text-danger"
              >
                Full Name is required
              </div>
            </div>
            <div class="mb-3 py-2">
              <label for="email" class="form-label">Email</label>
              <input
                id="email"
                type="email"
                class="form-control"
                formControlName="email"
                required
                placeholder="Email"
              />
              <div
                *ngIf="
                  registerForm.get('email')?.invalid &&
                  registerForm.get('email')?.touched
                "
                class="text-danger"
              >
                Valid email is required
              </div>
              <div *ngIf="emailTaken" class="text-danger">
                Email address already exists. Please,
                <a routerLink="/login" class="sm-login-btn login-btn"
                  >Login instead</a
                >
              </div>
            </div>
            <div class="mb-3 py-2">
              <label for="password" class="form-label">Password</label>
              <div class="password-container">
                <input
                  id="password"
                  [type]="showPassword ? 'text' : 'password'"
                  class="form-control"
                  formControlName="password"
                  required
                  placeholder="Password"
                  (input)="checkPasswordStrength()"
                />
                <span
                  class="toggle-password position-absolute"
                  (click)="togglePasswordVisibility()"
                >
                  <i
                    [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"
                  ></i>
                </span>
              </div>
              <div
                class="alert"
                [ngClass]="passwordStrength.class"
                *ngIf="registerForm.get('password')?.value"
              >
                <div class="alert-title">
                  <p
                    *ngIf="passwordStrength.class === 'very-weak'"
                    class="py-1"
                  >
                    Very Weak
                  </p>
                  <p *ngIf="passwordStrength.class === 'weak'" class="py-1">
                    Weak
                  </p>
                  <p *ngIf="passwordStrength.class === 'medium'" class="py-1">
                    Medium
                  </p>
                  <p *ngIf="passwordStrength.class === 'strong'" class="py-1">
                    Strong
                  </p>
                </div>
                <div class="alert-message">
                  Password must be at least
                  <span
                    [ngClass]="{
                      'text-success': passwordStrength.lengthValid
                    }"
                    >8 characters</span
                  >
                  and contain
                  <span
                    [ngClass]="{ 'text-success': passwordStrength.hasNumber }"
                    >1 number</span
                  >,
                  <span
                    [ngClass]="{
                      'text-success': passwordStrength.hasUpperCase
                    }"
                    >1 uppercase letter</span
                  >,
                  <span
                    [ngClass]="{
                      'text-success': passwordStrength.hasLowerCase
                    }"
                    >1 lowercase letter</span
                  >, and
                  <span
                    [ngClass]="{ 'text-success': passwordStrength.hasSymbol }"
                    >1 symbol</span
                  >.
                </div>
              </div>
              <div
                *ngIf="
                  registerForm.get('password')?.invalid &&
                  registerForm.get('password')?.touched
                "
                class="text-danger"
              >
                Password is required
              </div>
            </div>
            <div class="mb-3 py-2">
              <label for="confirmPassword" class="form-label"
                >Confirm Password</label
              >
              <div class="password-container">
                <input
                  id="confirmPassword"
                  [type]="showConfirmPassword ? 'text' : 'password'"
                  class="form-control"
                  formControlName="confirmPassword"
                  required
                  placeholder="Confirm Password"
                />
                <span
                  class="toggle-password position-absolute"
                  (click)="toggleConfirmPasswordVisibility()"
                >
                  <i
                    [ngClass]="
                      showConfirmPassword ? 'fa fa-eye' : 'fa fa-eye-slash'
                    "
                  ></i>
                </span>
              </div>
              <div
                *ngIf="
                  registerForm
                    .get('confirmPassword')
                    ?.hasError('passwordMismatch') &&
                  registerForm.get('confirmPassword')?.touched
                "
                class="text-danger"
              >
                Passwords do not match.
              </div>
            </div>

            <div class="pb-3">
              <re-captcha
                #captchaElem
                (resolved)="resolvedCaptcha($event)"
                siteKey="{{ captchaSiteKey }}"
              ></re-captcha>
            </div>
            <button
              type="submit"
              class="btn btn-primary w-100 py-2"
              [disabled]="registerAttempt"
            >
              <span
                [hidden]="!registerAttempt"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              Register
            </button>
            <div class="w-100 text-center pt-4">
              <a routerLink="/login" class="login-btn">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div
      class="col-xxl-6 col-xl-5 col-lg-6 col-md-8 col-sm-8 col-11 row justify-content-center"
      *ngIf="emailConfirmation"
    >
      <div
        class="card py-5 px-3 d-flex flex-column justify-content-center align-items-center"
      >
        <div class="image w-25 mx-auto">
          <img src="assets/email.png" width="100%" alt="" />
        </div>
        <h1 class="my-3">Email Confirmation</h1>
        <p class="w-75 text-center confirm-text">
          We have sent email to
          <span *ngIf="registerForm.value.email" class="user-email">{{
            registerForm.value.email
          }}</span>
          to confirm the validity of our email address. After receiving the
          email follow the link provided to complete your registration.
        </p>
        <p class="confirm-text">
          Confirmed?
          <a routerLink="/login" class="confirm-login-btn">Login now!</a>
        </p>
        <div class="border w-75 my-3 mx-auto"></div>
        <p
          class="confirm-text d-md-flex text-center justify-content-center align-items-baseline"
        >
          Didn't receive any mail?
          <button
            class="resend-btn btn p-0 m-0 ps-1"
            (click)="resendConfirmationEmail()"
          >
            Resend Confirmation
          </button>
        </p>
        <p *ngIf="emailResent" class="email-resent-text">
          Email is resent successfully!
        </p>
      </div>
    </div>
  </div>
</div>
