.full-page-container {
  background-color: #f3f7fc;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-container {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  padding: 40px;
}

.logo-wrapper {
  text-align: center;
  margin-bottom: 20px;
}

.logo-wrapper img {
  width: 120px;
}

.title-text {
  font-size: 28px;
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 20px;
}

.form-label {
  color: #34495e;
  font-weight: 600;
  margin-bottom: 8px;
}

.form-control {
  border: 1px solid #bdc3c7;
  border-radius: 10px;
  padding: 12px;
}

.custom-btn {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  padding: 14px;
  cursor: pointer;
  width: 100%;
}

.custom-btn:disabled {
  background-color: #bdc3c7;
}

.password-wrapper {
  position: relative;
}

.show-password-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  cursor: pointer;
  transform: translateY(-50%);
  color: #7f8c8d;
}

.alert {
  padding: 8px;
  margin-top: 12px;
  border-radius: 8px;
  position: relative;
}

.alert-title {
  text-align: center;
  border-radius: 8px;
  font-weight: 600;
  padding: 4px;
  color: #ffffff;
}

.very-weak .alert-title {
  background-color: #e74c3c;
  padding-top: 20px;
}

.weak .alert-title {
  background-color: #e67e22;
  padding-top: 20px;

}

.medium .alert-title {
  background-color: #f1c40f;
  padding-top: 20px;

}

.strong .alert-title {
  background-color: #2ecc71;
  padding-top: 20px;

}

.alert-message {
  font-size: 14px;
  color: #7f8c8d;
  margin-top: 4px;
}

.text-success {
  font-weight: 600;
  color: #2ecc71;
}

h1 {
  color: #3498db;
  font-size: 24px;
}

.confirm-text {
  color: #7f8c8d;
}

.user-email,
.email-resent-text {
  font-weight: 600;
  color: #3498db;
}

.confirm-login-btn,
.resend-btn {
  color: #3498db;
  font-size: 16px;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.separator {
  height: 1px;
  background-color: #bdc3c7;
  margin: 20px 0;
}

.recaptcha-container {
  text-align: center;
}

@media (max-width: 576px) {
  .g-recaptcha {
    transform: scale(0.85);
    transform-origin: 0 0;
  }
}

@media (max-width: 400px) {
  .g-recaptcha {
    transform: scale(0.75);
    transform-origin: 0 0;
  }
}
