<div class="full-page-container">
  <div class="card-container">
    <div class="logo-wrapper">
      <img src="assets/logo.svg" alt="logo" />
    </div>
    <div class="title-text text-muted">Welcome</div>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          id="email"
          type="email"
          class="form-control"
          formControlName="email"
          required
          placeholder="Enter your email"
        />
        <div
          *ngIf="
            loginForm.get('email')?.invalid && loginForm.get('email')?.touched
          "
          class="text-danger"
        >
          Invalid Email address
        </div>
        <div class="text-danger">
          {{ emailErrorMessage }}
          <a
            *ngIf="resendConfirmation"
            (click)="resendConfirmationEmail()"
            routerLink=""
            class="alt-link"
            >Resend Email</a
          >
          <a *ngIf="showAnchorTag" routerLink="/register" class="alt-link"
            >Register instead?</a
          >
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div class="password-wrapper">
          <input
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            class="form-control"
            formControlName="password"
            required
            placeholder="Enter your password"
          />
          <span class="show-password-icon" (click)="togglePasswordVisibility()">
            <i [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
          </span>
        </div>
        <div class="text-danger">
          {{ passwordErrorMessage }}
        </div>
        <div
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
          class="text-danger"
        >
          Password is required
        </div>
      </div>

      <button type="submit" class="custom-btn" [disabled]="loginAttempt">
        <span
          [hidden]="!loginAttempt"
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Login
      </button>
      <a routerLink="/register" class="alt-link">Register</a>
      <a routerLink="/resetpassword" class="alt-link">Forgot Password?</a>
    </form>
  </div>
</div>
