<div class="container-fluid p-xl-5 p-sm-4 p-3 pt-3">
  <div class="header row justify-content-between align-items-baseline">
    <div class="image col-xl-2 col-md-3 col-sm-4 col-7">
      <img src="assets/logo.svg" class="img-fluid" alt="" />
    </div>
    <button class="btn btn-danger col-xl-1 col-sm-2 col-3" (click)="logout()">
      Logout
    </button>
  </div>
  <div class="filter mt-5">
    <div
      class="filter-header d-flex justify-content-between align-items-baseline"
    >
      <h4>Students</h4>
      <button class="btn btn-success" (click)="openAddEditModal(true)">
        <i class="fa fa-add"></i> Add New
      </button>
    </div>
    <div
      class="filter-content mx-lg-0 mx-md-5 mx-sm-3 row justify-content-between mt-4"
    >
      <div class="col-xl-2 col-lg-3">
        <div class="flex-column justify-content-center align-items-start">
          <label for="name" class="p-0 m-0 form-label my-2">Name</label>
          <input
            type="text"
            class="col-3 form-control"
            [(ngModel)]="selectedName"
          />
        </div>
        <div class="my-3">
          <label for="country" class="p-0 m-0 form-label my-2">Country</label>
          <ng-select
            [items]="countries"
            bindLabel="name"
            bindValue="name"
            [(ngModel)]="selectedCountry"
            (clear)="searchStudents()"
          >
          </ng-select>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3">
        <div class="flex-column justify-content-center align-items-start">
          <label for="age" class="p-0 m-0 form-label my-2">Age</label>
          <div class="age-input p-0 m-0 d-flex align-items-center">
            <input
              type="number"
              class="form-control"
              [(ngModel)]="selectedMinAge"
            />
            <a class="mx-2 text-decoration-none">to</a>
            <input
              type="number"
              class="form-control"
              [(ngModel)]="selectedMaxAge"
            />
          </div>
        </div>
        <div class="my-3">
          <label for="gender" class="p-0 m-0 form-label my-2">Gender</label>
          <ng-select
            [items]="genders"
            bindLabel="name"
            bindValue="name"
            [(ngModel)]="selectedGender"
            (clear)="searchStudents()"
          >
          </ng-select>
        </div>
      </div>
      <div
        class="col-xl-4 col-lg-5 mt-md-3 align-self-end row justify-content-evenly"
      >
        <button
          class="btn btn-primary col-6 col-md-5"
          (click)="searchStudents()"
        >
          Search
        </button>
        <button
          class="btn btn-outline-dark col-4 col-md-3"
          (click)="resetFilters()"
        >
          Reset
        </button>
      </div>
    </div>
  </div>
  <div class="table mt-5">
    <div class="pre-table row justify-content-between align-items-baseline">
      <div
        class="left col-xl-3 col-lg-12 col-sm-6 row justify-content-lg-center justify-content-md-start justify-content-center align-items-baseline"
      >
        <p class="col-xl-5 col-lg-2 col-md-4 col-sm-5 col-5">Show entries:</p>
        <ng-select
          [items]="entries"
          bindLabel="name"
          bindValue="name"
          [(ngModel)]="pageSize"
          (change)="onEntriesChange()"
          (clear)="onEntriesClear()"
          class="col-4 col-lg-2 col-xl-4"
        >
        </ng-select>
      </div>
      <div
        class="right mt-xl-0 mt-5 col-xl-9 col-lg-12 col-sm-6 d-flex justify-content-xl-end justify-content-center align-items-center overflow-x-auto"
      >
        <button
          class="btn mx-3"
          [class.disabled]="currentPage === 1"
          (click)="goToFirstPage()"
        >
          First
        </button>
        <button
          class="btn mx-3"
          [class.disabled]="currentPage === 1"
          (click)="goToPreviousPage()"
        >
          Previous
        </button>
        <button
          *ngFor="let page of pagesArray()"
          class="btn mx-3 d-lg-block d-none"
          [class.num-btn-selected]="currentPage === page"
          (click)="goToPage(page)"
        >
          {{ page }}
        </button>
        <button
          class="btn mx-3"
          [class.disabled]="currentPage === totalPages"
          (click)="goToNextPage()"
        >
          Next
        </button>
        <button
          class="btn mx-3"
          [class.disabled]="currentPage === totalPages"
          (click)="goToLastPage()"
        >
          Last
        </button>
      </div>
    </div>

    <div class="table-content overflow-x-auto mt-5">
      <table class="table">
        <thead>
          <tr class="table-light">
            <th scope="col-2"></th>
            <th scope="col-3">
              <div class="d-flex justify-content-between align-items-center">
                Name
                <button class="btn p-0 m-0 px-1" (click)="sortTable('name')">
                  <i class="fa-solid fa-sort"></i>
                </button>
              </div>
            </th>
            <th scope="col-1">
              <div class="d-flex justify-content-between align-items-center">
                Age
                <button
                  class="btn p-0 m-0 px-1"
                  (click)="sortTable('birthDate')"
                >
                  <i class="fa-solid fa-sort"></i>
                </button>
              </div>
            </th>
            <th scope="col-2">
              <div class="d-flex justify-content-between align-items-center">
                Gender
                <button class="btn p-0 m-0 px-1" (click)="sortTable('gender')">
                  <i class="fa-solid fa-sort"></i>
                </button>
              </div>
            </th>
            <th scope="col-3">
              <div class="d-flex justify-content-between align-items-center">
                Email
                <button class="btn p-0 m-0 px-1" (click)="sortTable('email')">
                  <i class="fa-solid fa-sort"></i>
                </button>
              </div>
            </th>
            <th scope="col-2">
              <div class="d-flex justify-content-between align-items-center">
                Country
                <button class="btn p-0 m-0 px-1" (click)="sortTable('country')">
                  <i class="fa-solid fa-sort"></i>
                </button>
              </div>
            </th>
            <th scope="col-1"></th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let student of filteredStudents; let i = index"
            [ngClass]="{ 'table-light': i % 2 != 0 }"
          >
            <td>
              <button
                class="fa-regular fa-pen-to-square btn table-btn"
                (click)="openAddEditModal(false, student)"
              ></button>
            </td>
            <td>{{ student.firstName + " " + student.lastName }}</td>
            <td>{{ student.birthDate | age }}</td>
            <td>{{ student.gender }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.country }}</td>
            <td>
              <button
                class="fa-solid fa-trash-can btn table-btn"
                (click)="confirmDelete(student)"
              ></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        *ngIf="filteredStudents.length === 0"
        class="alert alert-light text-center mt-3"
        role="alert"
      >
        No students available.
      </div>
    </div>
    <div class="post-table">
      <div
        class="row justify-content-xl-between justify-content-center align-items-baseline"
      >
        <div class="left col-xl-3 row text-center">
          <p>
            Showing <span>{{ (currentPage - 1) * pageSize + 1 }}</span>
            to
            <span>{{ getMaxIndexDisplayed() }}</span>
            of <span>{{ filteredStudents.length }}</span> entries
          </p>
        </div>
        <div
          class="right col-xl-9 d-flex justify-content-xl-end justify-content-center align-items-center overflow-x-auto"
        >
          <button
            class="btn mx-3"
            [class.disabled]="currentPage === 1"
            (click)="goToFirstPage()"
          >
            First
          </button>
          <button
            class="btn mx-3"
            [class.disabled]="currentPage === 1"
            (click)="goToPreviousPage()"
          >
            Previous
          </button>
          <button
            *ngFor="let page of pagesArray()"
            class="btn mx-3 d-lg-block d-none"
            [class.num-btn-selected]="currentPage === page"
            (click)="goToPage(page)"
          >
            {{ page }}
          </button>

          <button
            class="btn mx-3"
            [class.disabled]="currentPage === totalPages"
            (click)="goToNextPage()"
          >
            Next
          </button>
          <button
            class="btn mx-3"
            [class.disabled]="currentPage === totalPages"
            (click)="goToLastPage()"
          >
            Last
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
